# Exclude everything
/*

# Except for project files
!/BUILDING.md
!/.github
!/build-aux
!/cmake
!/data
!/devtools
!/src
!/vcpkg
!.clang-format
!.cmake-format.json
!.gitignore
!.gitmodules
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
